body, html {
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.main-title {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 110px;
  padding: 0 20px 0 20px;
}

.big-title {
  height: 110px;
  font-size: 75px;
  margin: auto;
}

.left-section {
  width: 50%;
  background: #455a64;
  text-align: center;

  /*flex-shrink: 1;*/
}

.right-section {
  width: 50%;
  background-color: #cfd8dc;
}

.art1,
.art2,
.art3,
.art4 {
  margin: 15px;
  font-weight: 800;
  color: #455a64;
  display: block;
}

.first-bookmark,
.second-bookmark,
.third-bookmark,
.fourth-bookmark {
  padding: 10px 0 0 10px;
  background-color: white;
}

.main-url {
  border-bottom: solid 1px;
  border-top: solid 1px;
  border-color: #607d8b;
  height: 45px;
  margin: 5px 10px 3px 0;
  padding-top: 20px;
  font-weight: 400;
}

.read,
.delete {
  margin-bottom: 5px;
  font-weight: 400;
  color: #455a64;
}

.delete {
  float: right;
  margin-right: 10px;
}

.change-min-max {
  margin: auto;
  margin-top: 140px;
}


.bookmark-title,
.url {
  font-weight: 400;
  font-size: 20px;
  margin: 20px 0;
  width: 90%;
  height: 30px;
}

.enter-button {
  font-weight: bold;
  font-size: 15px;
  margin: 20px 0;
  width: 90%;
  height: 40px;
  background-color: #ffc107;
  color: #ffffff;
  border: none;
}
.enter-button:hover {
  background-color: #ffd773;
}

article {
  border: solid;
  height: 120px;
}

@media screen and (max-width: 550px) {
    body {
        flex-direction: column;
    }
    left-section {
      width: 100%;
      height: 50%;
  }
    right-section {
      width:100%;
      height:50%;
    }
}
